<div id="lobby" class="col-md-4 col-md-push-8">
    <% include lobby %>   
</div>
<div id="game-area" class="col-md-8 col-md-pull-4 before">
        <div id="listOfRooms" class="collapse"></div>
        <div id="listOfPeople" class="collapse"></div>
</div>
<div id="chat" class="col-md-4 before">
    <% include chat %>   
</div>