<div class="row-fluid no-gutter-at-all">
    <div class="col-sm-12">
        <ul id="rooms" data-toggle="collapse" data-target="#listOfRooms" class="nav nav-pills" role="tablist">
        </ul>
    </div>
    <div class="col-sm-12">
        <ul id="people" class="list-group" data-toggle="collapse" data-target="#listOfPeople"></ul>
    </div> 
</div>
                      
 