<!doctype html>
<html>
    <head>
        <% include partials/head %>
    </head>
<body>
<img src="../images/084.png" class="bg">
<div id = "authentication" class="main-screenFrame container-fluid text-center">
    <div id = "authWrapper" class="row-fluid no-gutter">

        <div id = "jumbotron" class="jumbotron text-center col-xs-12">
            <div class="row-fluid no-gutter">
                <h1><span class="fa fa-lock"></span> Tic Tac Pic</h1>
            </div>
            <div class="row-fluid no-gutter">
                <p>Login or Register</p>
            </div>
            <div class="row-fluid no-gutter">
                <div class="col-xs-6 text-right">
                    <a href="/login" id = "login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
                </div>
                <div class="col-xs-6 text-left">
                    <a href="/signup" id = "signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                </div>
            </div>
            <hr><hr>
            <div class="row-fluid no-gutter">
                 <a href="https://www.vecteezy.com/">Graphics by: www.vecteezy.com</a> 
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
