<!doctype html>
<html>
    <head>
        <% include partials/head %>
    </head>
<body>
<!--
    <div class = "spinWrapper">
        <div class="preloader">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
        </div>
    </div>
-->
<img src="../images/084.png" class="bg">
<div id = "authentication" class="main-screenFrame container-fluid text-center">
    <div id = "authWrapper" class="row-fluid no-gutter">

        <div id = "jumbotron" class="jumbotron text-center col-xs-12">
            <div class="row-fluid no-gutter">
                <h1><span class="fa fa-lock"></span> Tic Tac Pic</h1>
            </div>
            <div class="row-fluid no-gutter">
                <p>Login or Register</p>
            </div>
            <div class="row-fluid no-gutter">
                <div class="col-xs-6 text-right">
                    <a href="/login" id = "login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
                </div>
                <div class="col-xs-6 text-left">
                    <a href="/signup" id = "signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                </div>
            </div>
            <!--
            <div class="row-fluid no-gutter">
                <div class="col-xs-4 text-right">
                    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                </div>
                <div class="col-xs-4">
                    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                </div>
                <div class="col-xs-4 text-left">
                    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
                </div>
            </div>
            -->
        </div>
        
    </div>
</div>
<!--
<script>
    $(document).ready(function() {
        $(window).load(function() {
            preloaderFadeOutTime = 1500;
            function hidePreloader() {
                var preloader = $('.spinWrapper');
                preloader.slideUp(preloaderFadeOutTime);
            }
            hidePreloader();
        });
    });
</script>
-->
</body>
</html>



        
    
    })
