/******** wrappers ************/

html, body, #wrapper, .container, #main-screen
{    
    overflow: hidden;
    height:100vh;
    width: 100%;
    margin: 0 auto;
    padding:0px; 
}

/******** preloader ************/

.pace-running #wrapper, #gameBoard
{
    display: none;
}

.spinWrapper
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    z-index: 999999;
    
}

/*Set up up the Background Image*/		
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}
@media screen and (max-width: 1024px){
	img.bg {
		left: 50%;
		margin-left: -512px; }
}

/*
#authWrapper
{
    margin: 0px;
    height: 100%;
    border-style:outset;
    border-color: #82340e;
}
*/

#authentication, #loginScreen, #signupScreen
{
    background: url("../images/background/woodBackground.jpg") no-repeat;
    /**background-position: -5px -5px; **/
    padding: 0px;
    height: 100%;
}

input.form-control {
  box-shadow:inset 0 0 2px 2px #888;
  background: #fff;
}

.jumbotron {
    background: transparent;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    border: 5px solid;
    border-radius: 4px;
    border-style:inset;
    border-color: #82340e;
}

.jumbotron, #authWrapper, #loginWrap, #signupWrap
{
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  padding-top: 0px;
}

#jumbotronLogin, #jumbotronSignup {
    padding-bottom: 0px;
    padding-top: 0px;
}


.form-group {
    margin-left: 10px;
    margin-right: 10px;
}


.container .jumbotron,
.container-fluid .jumbotron {
  padding-left: 0px;
  padding-right: 0px;
}

h1 {
    background-image: url("../images/background/woodBackground.jpg") no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px #82340e;
   -webkit-filter: 
    drop-shadow(1px 0px 0px #000) 
    drop-shadow(1px -2px 0px #82340e) 
    drop-shadow(-2px 0px 0px #000);
}

p {
    background-image: url("../images/background/woodBackground.jpg") no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px #82340e;
   -webkit-filter: 
    drop-shadow(1px 1px 0px #000) 
}

.container-fluid
{
    background: url("../images/background/wood.jpg") no-repeat;
    background-position: -5px -5px; 
    width: 100%;
	z-index: -1;
    border: 0;
    padding: 0;
      -webkit-box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
     -moz-box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
          box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
                
}

/******** main content ************/

#main-screen
{
      -webkit-box-shadow:
    		inset 0 0 50px #666,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
  
     -moz-box-shadow:
    		inset 0 0 50px #666,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
  
          box-shadow:
    		inset 0 0 50px #666,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
}

.main-screenFrame
{
    border-style: solid;
    border-width: 13px;
    -moz-border-image: url("../images/background/BrushedAluminiumChat.png") 13 stretch; /* Safari 3.1-5 */
    -webkit-border-image: url(../images/background/BrushedAluminiumChat.png) 13 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../images/background/BrushedAluminiumChat.png") 13 stretch; /* Opera 11-12.1 */
    border-image: url("../images/background/BrushedAluminiumChat.png") 13 stretch;
    background: url("../images/084.jpg") no-repeat;
    height: auto;
    
   -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}

/************************* LOBBY ****************************/

#lobby
{
    position: absolute;
    border-style: solid;
    border-width: 10px;
    -moz-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Safari 3.1-5 */
    -webkit-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Opera 11-12.1 */
    border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch;
    background-color: green;
    height: 18vh;
    width: calc(100% - 26px);
    padding-bottom: 1%;
    padding-top: 1%;
}

/*
#lobby .row-fluid
{
    height: 50%;
}
*/


#lobby .row-fluid [class*='col-']
{
    height: 50%;
}

#lobby .row-fluid,
#rooms, #rooms .row-fluid [class*='col-'], 
#people, #people .row-fluid [class*='col-']
{
    height: 100%;
}
/*
#rooms
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}

#rooms > li, #rooms > li > a,
#people > li, #people > li > a
{
    height: 100%;
}

#rooms > li 
{
    float: left;
    min-width: 87px;
    width: 33%;
}

#rooms > li > a 
{
    padding-left: calc(100% - 130px);
    padding-right: calc(100% - 130px);
    text-align: center;
    height: 100%; 
    line-height: 100%;
}

#rooms > li > a > span
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
*/
/************************* GAME AREA ****************************/

#game-area
{
    position: absolute;
    width: calc(100% - 26px);
}

#game-area.before
{
    border-style: solid;
    border-width: 10px;
    -moz-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Safari 3.1-5 */
    -webkit-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Opera 11-12.1 */
    border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch;
    background-position: -5px -5px; 
    background: url("../images/background/wood.jpg") no-repeat;
    top: calc(18vh + 10px);
    height: calc(50vh - 5px);
}

#game-area.after
{
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100vw - 30px + 12vh);
    outline: #aaa solid;
}
    
a href
{
    font-size: 40vw;
}

.pagerPage
{
    display: none;
}

#navigation
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#navigation > li
{
    width: 33.33333333%;
    margin: 0px;
    padding: 0px;
}

#navigationBody
{
    top: 10%;
    height: calc(100% - 39px);
    width: 100%;
}

#Overview, #Rules
{
    position: absolute;
    height: calc(100% - 39px);
    background-color: #999;
    width: 100%;
}

#overviewContent, #rulesContent
{
    padding: 2%;
    color: black;
    background-color: #999;
}

#overviewPager, #rulesPager
{
    position: absolute;
    width: 100%;
    bottom: 5px;
}

.pagination
{
    display: table;
    margin: 0 auto;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #000;
    border-color: transparent;
    cursor: default;
}

#Lobby
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#listOfRooms, #listOfPeople
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -17px;
    left: 0;
    overflow-y: scroll;
}

#listOfRooms .list-group-item, #listOfPeople .list-group-item
{
    height: 25%;
    width: calc(100% - 17px);
    vertical-align: middle;
}

/*#lobby
{
    position: absolute;
    top: 12px;
    margin-left: 0.666%;
    margin-right: 5.333%;
    border-style: solid;
    border-width: 10px;
    -moz-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; 
    -webkit-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; 
    -o-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; 
    border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch;
    border-image-outset: 3px;
    background-color: green;
    height: 18%;
    margin-top: 0.53%;
    padding: 0px;
    width: calc(100% - 31px);
}*/

#score 
{
    left: calc(-22vw + 22%);
    right: calc(-22vw + 22%);
    border-style: solid;
    border-width: 12px;
    -moz-border-image: url("../images/background/BrushedAluminium.png") 12 stretch; /* Safari 3.1-5 */
    -webkit-border-image: url("../images/background/BrushedAluminium.png") 12 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../images/background/BrushedAluminium.png") 12 stretch; /* Opera 11-12.1 */
    border-image: url("../images/background/BrushedAluminium.png") 12 stretch;
    height: 12vh;
    outline: #000 1px solid;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.verticalMiddle
{
    display: flex;
    align-items: center;
}

#board
{    
    margin: 0 auto;
    padding:0;
    width: 100%;
    background-image: url("../images/background/animalsSpriteNew.jpg");
    background-size: 0;
    display:block;
}

#board .large
{
    width: 8.33334%;
    height: 0;
    padding-bottom: 8.33334%;
    float: left;
    margin: 0px;
    background-image:url('../images/myTile6.png');
    background-size: 100%;
}

#board .medium
{
    width: 16.6667%;
    height: 0;
    padding-bottom: 16.6667%;
    float: left;
    margin: 0px;
    background-image:url('../images/myTile6.png');
    background-size: 100%;
}

#board .small
{
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    float: left;
    margin: 0px;
    background-image:url('../images/myTile6.png');
    background-size: 100%;
}

#board .Default
{
    background-position: 0 0;
    outline: #000 1px solid;
}

#board .violet
{
    background-position: 0 18.18%;
    outline: #000 1px solid;
}

#board .violetUncovered
{
    background-position: 0 27.27%;
    outline: #000 1px solid;
}

#board .red
{
    background-position: 0 36.36%;
    outline: #000 1px solid;
}

#board .redUncovered
{
    background-position: 0 45.45%;
    outline: #000 1px solid;
}

#board .yellow
{
    background-position: 0 54.54%;
    outline: #000 1px solid;
}

#board .yellowUncovered
{
    background-position: 0 63.63%;
    outline: #000 1px solid;
}

#board .green
{
    background-position: 0 72.72%;
    outline: #000 1px solid;
}

#board .greenUncovered
{
    background-position: 0 81.81%;
    outline: #000 1px solid;
}

#board .blue
{
    background-position: 0 90.9%;
    outline: #000 1px solid;
}

#board .blueUncovered
{
    background-position: 0 99.99%;
    outline: #000 1px solid;
}

#board .transparent
{
    opacity: 0.1;
}

#warningBoard
{
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    color:yellow;
    pointer-events: none;
    background: url('transparent.png');
    display: none;
    font-size: 4em;
}

.flip-clock-divider.seconds,
.clock ul:nth-child(2),
.clock ul:nth-child(3),
.clock ul:nth-child(5),
.flip-clock-label
{
    display: none;
}

.clock
{
    zoom: 1.5;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    display: none;
    opacity: 0.5;
    position: relative;
}
.flip-clock-wrapper
{
    margin: 0px;
}

#turnPar
{
    margin: 0px;
}

#guessPar
{
    margin: 0px;
    display: none;
}

.active
{
    pointer-events: auto;
    cursor: pointer;
}

.not-active
{
    pointer-events: none;
    cursor: not-allowed;
}

.col
{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color:#ffc;
    opacity: 0.1;
}

.col-wrap
{
    overflow: hidden;
}

/************************* CHAT ****************************/

#chat
{
    position: absolute;
    border-style: solid;
    border-width: 10px;
    -moz-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Safari 3.1-5 */
    -webkit-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch; /* Opera 11-12.1 */
    border-image: url("../images/background/BrushedAluminiumChat2.png") 10 stretch;
    background: url("../images/background/wood.jpg") no-repeat;
    background-position: -5px -5px;
    width: calc(100% - 26px);
}

#chat.before
{
    height: calc(32vh - 12px);
    top: 68vh;
}

#chat.after
{
    height: calc(100vh - (12vh + 100vw + 1px));
    top: calc(12vh + 100vw - 11px);
}

.screen 
{
    background-color: black;
    outline-color: white;
    outline-style: solid;
    width: 100%;
}

#chatWrap{
    
}

#createRoom, #leave, #checkAnswerBtn, #login, #signup, #send
{
    background: url('../images/background/brushed_aluminium_button_long.jpg');
    background-size: 100% 100%;
    max-width: 120px;
    
}

.scrollable-menu {
    height: 300px;
    width: 500px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;
}

.buttons
{
    margin-left: calc(1.5% - 3px);
}

.form 
{
}

#conversation
{
    font-size: 18px;
    margin-left: 1.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 97%;
    height: 33%;
    overflow: hidden;
}

#msgs
{
    margin-bottom:0px;
}

#chatForm
{
    margin-left: calc(1.5% - 3px);
    margin-top: 1.5%;
    padding-bottom: 10%;
    width: calc(97% + 6px);
}

#msg
{
    width: 95%;
    margin-top: 3px;
}

#send
{
    width: 100%;
}

/******************** Beginning of bootstrap modifications *****************/

.btn 
{
    background: url('../images/background/brushed_aluminium_button_long.jpg');
    background-repeat: no-repeat;
    color: #000;
    border-color: #000;
    background-size: 100% 100%;
    border-radius: 24px;
    box-shadow: 0 2px 0 0 #898f99,
    0 5px 0 0 #000;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus 
{
    background: url('../images/background/brushed_aluminium_button_long.jpg');
    background-repeat: no-repeat;
    color: #000;
    border-color: #1f1f14;
    background-size: 100% 100%;
    border-radius: 24px;
}

.btn:hover,
.btn:focus,
.btn.focus 
{
    background: url('../images/background/brushed_aluminium_button_long.jpg');
    background-repeat: no-repeat;
    color: #000;
    border-color: #1f1f14;
    background-size: 100% 100%;
    border-radius: 24px;
    text-decoration: none;
  
}

.btn:active,
.btn.active 
{
    background: url('../images/background/brushed_aluminium_button_long.jpg');
    background-repeat: no-repeat;
    color: #000;
    border-color: #1f1f14;
    background-size: 100% 100%;
    border-radius: 24px;
    box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus 
{
  background-color: #000;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge 
{
  color: #000;
  top: 50%
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus 
{
  background-color: #000;
  border-color: #000;
  
}
.list-group-item {
  height: 100%;
  padding: 3vh 15px;
}

.badge 
{
  background-color: #000;
  min-width: 30px;
}

.list-group {
  margin-bottom: 0px;
  padding-left: 0;
}
.nav-pills > li > a > .badge {
  margin-left: 0px;
}

/************************* End of bootstrap modifications ******************************/

#warning-message { display: none; }
@media only screen and (orientation:landscape){
    #wrapper { display:none; }
    #warning-message { display:block; }
}
@media only screen and (orientation:portrait){
    #warning-message { display:none; }
}
/*
@media screen and (orientation: landscape) {
    #board
    {    
        position: absolute;
        top: 0px;
        left: 0px;
        width: 320px;
        height:320px;
    }

    #chatWrap
    {
        float:right;
    }

    #score 
    {
        float:right;
    }

    .container
    {
        height:320px;
        padding-right:0px;
        margin-right:0px;
    }
    
    #main-screen
    {
        height:100%;
        padding-right:0px;
        margin-right:0px;
    }
}
*/

.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child)
{
    padding-right: 0;
    padding-left: 0;
}

.row-fluid.no-gutter-at-all [class*='col-'], .row.no-gutter-at-all [class*='col-']
{
    padding-right: 0;
    padding-left: 0;
}

.row.no-gutter, .row-fluid.no-gutter-at-all
{
    margin-left: 1px;
    margin-right: 1px;
}
@media screen and (min--moz-device-pixel-ratio:0) and (min-width: 992px) {

.row.no-gutter, .row-fluid.no-gutter-at-all
{
    margin-right: -1px; /*fix fro firefox*/
    
}
}

/* .modal-fullscreen */

.modal-fullscreen {
}
.modal-fullscreen .modal-content {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/**************** warning message ************************/

#warning-message
{
    text-align: center;
}

@media only screen and (orientation:landscape) and (min-width: 768px){
    #wrapper { display:initial; }
    #warning-message { display:none; }
}
@media only screen and (orientation:portrait) and (min-width: 768px){
    #warning-message { display:none; }
}

/****************** media queries *********************/

@media (max-width: 500px) {

/******************** Beginning of bootstrap modifications *****************/

.list-group-item {
  padding: 4% 1px;
  height: 100%;
}

.nav-pills a {
  padding: 1.5vh 1px;
  position: absolute;
}


h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group {
    margin-top: 0px;
    margin-bottom: 10px;
}
    
}
@media (min-width: 768px) {
/************************* GAME AREA ****************************/

#lobby
{
    padding: 1%;
}
.nav-pills a {
  padding: 0 0;
  position: absolute;
}

#game-area.after
{
    top: 15px;
    height: calc(100vw - 31px + 6vh);
}

#first, #second, #third, #fourth
{
    padding-left: 1%;
    padding-right: 1%;
}

#listOfRooms .list-group-item, #listOfPeople .list-group-item
{
    height: 10%;
    width: 100%;
}

.pagerPage
{
    display: block;
    color: black;
}

#overviewContent, #rulesContent
{
    display: none;
}

#overviewPager, #rulesPager
{
    display: none;
}

#score 
{
    height: 6vh;
    display: flex;
    align-items: center;
}

/************************* CHAT ****************************/

#chat.after
{
    height: calc(100vh - (6vh + 100vw + 1px));
    top: calc(100vw - 10px + 6vh);
}

#chatForm
{
    padding-bottom: 5%;
}
}

@media only screen and (orientation:landscape) and (min-width: 992px){
    #wrapper { display:initial; }
    #warning-message { display:none; }
}
@media only screen and (orientation:portrait) and (min-width: 992px){
    #warning-message { display:none; }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
/************************* LOBBY ****************************/

#lobby
{
    height: calc(20vh + 5px);
    width: calc(33.3333333333% - 8px);
    left: calc(66.66666667% - 5px);
    padding: .2%;
    
}
.nav-pills a {
  padding: 0 0;
  position: absolute;
}

/************************* GAME AREA ****************************/

#game-area
{
    position: absolute;
    width: calc(66.66666667% - 13px);
}

#game-area.before
{
    height: calc(100vh - 26px);
    top: 13px;
}

#game-area.after
{
    top: 15px;
    width: calc(94vh - 30px);
    left: 15px;
    height: calc(100% - 30px);
}

#Overview, #Rules
{
    height: calc(100% - 39px);
}

#score 
{
    height: 6vh;
    width: calc(94vh - 30px);
}

#board
{    
    height: calc(94vh - 30px);
    width: calc(94vh - 30px);
}

/************************* CHAT ****************************/

#chat.before
{
    top: calc(20vh + 13px);
    height: calc(80vh - 26px);
    width: calc(33.3333333333% - 8px);
    left: calc(66.66666667% - 5px);
}

#chat.after
{
    top: calc(0vh + 13px);
    height: calc(100vh - 26px);
    width: calc(100vw - 94vh - 2px);
    left: calc(94vh - 10px);
}
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)  and (min-width: 992px){ 

#chat.after
{
    left: calc(94vh - 11px); /*fix fro chrome*/
 }
}

@media only screen and (orientation:landscape) and (min-width: 1200px){
    #wrapper { display:initial; }
    #warning-message { display:none; }
}
@media only screen and (orientation:portrait) and (min-width: 1200px){
    #warning-message { display:none; }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }

#loginWrap
{
  width: 50%;
}
.nav-pills a {
  padding: 0 0;
  position: absolute;
}
}

