<div id = "first" class="text-left col-xs-6 col-md-3 player-score">
    <% include scores/oneUserScore %>
</div>
<div id = "second" class="text-right col-xs-6 col-md-3 player-score">
    <% include scores/oneUserScore %>
</div>
<div id = "nextLine" class=""></div>
<!--<div class="clearfix visible-sm-block"></div> -->
<div id = "third" class="text-left col-xs-6 col-md-3 hidden player-score">
    <% include scores/oneUserScore %>
</div>
<div id = "fourth" class="text-right col-xs-6 col-md-3 hidden player-score">
    <% include scores/oneUserScore %>
</div>
<% include ../../partials/clearfixAllDevices %>