<div id = "first" data-index ="1" class="text-left col-xs-6 col-md-3 player-score">
    <% include scores/oneUserScore %>
</div>
<div id = "second" data-index ="2" class="text-right col-xs-6 col-md-3 player-score">
    <% include scores/oneUserScore %>
</div>
<div id = "nextLine" class=""></div>
<!--<div class="clearfix visible-sm-block"></div> -->
<div id = "third" data-index ="3" class="text-left col-xs-6 col-md-3 hidden player-score">
    <% include scores/oneUserScore %>
</div>
<div id = "fourth" data-index ="4" class="text-right col-xs-6 col-md-3 hidden player-score">
    <% include scores/oneUserScore %>
</div>
<% include ../../partials/clearfixAllDevices %>