<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="">
        <div id="wrapper">
            <div class="container">
                <div id="main-screen" class="row-fluid">
                    <%- include(mainScreen) %>
                    <% include ../partials/clearfixAllDevices %>
                </div>
            </div>
            <% include ../partials/template %>
            <% include ../partials/modals %>
            <% include ../partials/foot %>
        </div>
        <div id="warning-message">
            <h2>please rotate your device to portrait mode</h2>
            <img src="../images/Orientation_Icon_128x128.png" alt="Rotate Device" style="width:128px;height:128px;">
        </div>
    

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        </body>
</html>